@charset 'utf-8';
$theme: "nextreme";

// /******** Utilities *********/ //

@import "utilities"; // Utilities

$color-slider-default: rgba(color("black", "dark", true), 0.5) !default;
$color-slider-active: color("black", "very-light") !default;

@import "../../../../core/assets/stylesheets/plugins/plugin-pagebuilder"; // Plugin Pagebuilder // TODO 3914 selectors this far down
@import "plugins/plugin-siteorigin-pagebuilder"; // Plugin SiteOrigin Pagebuilder // TODO 4565 selectors this far down

// /******** Core Theme *********/ //

@import "../../../../core/assets/stylesheets/theme";

// /******** Theme *********/ //

@import "theme/theme-tools"; // Tools
@import "theme/theme-typography"; // Typography

@import "theme/theme-layout"; // Layout
@import "theme/theme-header"; // Header

// /******** Core Widgets *********/ //

@import "../../../../core/assets/stylesheets/widgets"; // Widgets // TODO 1720 selectors this far down

// /******** Core Modules *********/ //

@import "../../../../core/assets/stylesheets/modules"; // Modules // TODO 3085 selectors this far down

// /******** Core Plugins *********/ //

// /******** Plugins *********/ // // ca ??? selectors

:root {
  --php-font-family-price: #{$font-price};
  --header-height: 72px;

  --theme-font-heading: #{$font-heading};
  --theme-font-sub-heading: #{$font-sub-heading};

  --theme-color-bg: #{color("grey", "very-light", true)};
  --theme-color-bg-value: #{to-rgb-value(color("grey", "very-light", true))};

  --theme-color-text: #{color("grey", "very-dark", true)};
  --theme-color-highlight: #{color("red", "base", true)};

  --theme-color-btn-default-bg: #{color("white", "light", true)};
  --theme-color-btn-default-text: #{color("black", "base", true)};
  --theme-color-btn-default-hover: #{color("white", "very-light", true)};

  --theme-color-btn-primary-bg: #{color("red", "base", true)};
  --theme-color-btn-primary-text: #{color("white", "base", true)};
  --theme-color-btn-primary-hover: #{color("red", "light", true)};

  --theme-color-btn-secondary-bg: #{color("black", "base", true)};
  --theme-color-btn-secondary-text: #{color("white", "base", true)};
  --theme-color-btn-secondary-hover: #{color("black", "light", true)};

  --theme-color-link: #{color("red", "base")};
  --theme-color-link-hover: #{color("red", "light")};

  .sidebar {
    --sidebar-margin: 20px;
    --sidebar-radius: 0px;
  }

  @include media("mobile") {
    --header-height: 101px;
  }
}

:root,
:host,
.wa-theme-default-light {
  /* Changes the brand color to yellow across the library */
  --wa-color-brand-fill-quiet: var(--wa-color-yellow-95);
  --wa-color-brand-fill-normal: var(--wa-color-yellow-90);
  --wa-color-brand-fill-loud: var(--wa-color-yellow-50);
  --wa-color-brand-border-quiet: var(--wa-color-yellow-90);
  --wa-color-brand-border-normal: var(--wa-color-yellow-80);
  --wa-color-brand-border-loud: var(--wa-color-yellow-60);
  --wa-color-brand-on-quiet: var(--wa-color-yellow-40);
  --wa-color-brand-on-normal: var(--wa-color-yellow-30);
  --wa-color-brand-on-loud: white;

  --shadow-size: 4rem;
}
